html, body {
  background-color: black;
  height: 100%;
  min-width: 250px;
} 

.main-content {
  text-align: center;
  background-color: white;
  width: 100%;
  margin-top: 100px;
  position: sticky;
}

.fade-area {
  padding-bottom: 20px;
}

header {
  background-color: black; 
  color:white;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0; 
  height: 50px;
  width: 100%;
  color: white;
  text-align: center;
  background-color:black;
  vertical-align: baseline;
  padding: 4px;
}

.button {
  background-color: Transparent;
  border: 1px solid white;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 45px;
}

.button:hover {
  background-color: #457b9d;
}

.iconify {
  height: 25px;
  width: 25px;
  color: white;
  vertical-align: bottom;
}

a:hover {
  /* covers up a dash I can't figure out :/  */
  color: black; 
}

.brackets {
  font-size: 65px;
  font-family: 'Source Code Pro', monospace;
}

@media only screen 
and (min-device-width : 200px) 
and (max-device-width : 480px) {
  .brackets {
    font-size: 35px;
    font-family: 'Source Code Pro', monospace;
  }
}

.flexbox-container {
  display: flex;
  justify-content: center;
}

.flexbox-item {
  width: 350px;
  margin:10px;
  padding: 5px;
}

.content-icons {
  width: 60px;
  height: 60px;
  float: left;
  padding: 5px;
}

.skill-span {
  text-align: left;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.animated {
  background-repeat: no-repeat;
  background-position: left top;
  /* padding-top:20px;
  margin-bottom:20px; */
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

